/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */


.src-basketball {
  width: 991px;
  height: 815px;
  left: 804px;
  z-index: 1;
  position: absolute;
}
.content-footballer {
  /* background-color: #5E3DB; */
  position: relative;
}

.athlets {
  width: 378px;
  height: 105px;
  top: 24px;
  left: 1008px;
  position: absolute;
}

.text-athlets {
  font-family: "Roboto";
  font-size: 90px;
  font-weight: 400;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: left;
  color: #e7e7e7;
}
.rect-box {
  position: relative;
}

.number {
  width: 22px;
  height: 21px;
  top: 193px;
  left: 1008px;
  position: absolute;

  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.rect-num {
  position: absolute;
  width: 19px;
  height: 5px;
  top: 218px;
  left: 1009px;
  background: #603ebe;
}

.head-section {
  width: 239px;
  height: 42px;
  top: 188px;
  left: 1040px;
  position: absolute;

  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #c2c2c2;
}

.connect-section {
  width: 601px;
  height: 28px;
  top: 261px;
  left: 1008px;
  position: absolute;

  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
/* -------------- rectangle2 -------------- */
.rectangle2 {
  position: absolute;
  width: 1920px;
  height: 256px;
  top: 345px;
  background-color: #f5f4f9;
}

.number2 {
  width: 22px;
  height: 21px;
  top: 403px;
  left: 1008px;
  position: sticky;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: left;
}

.rect-num2 {
  position: sticky;
  width: 22px;
  height: 5px;
  top: 428px;
  left: 1009px;
  background: #603ebe;
}

.head-section2 {
  width: 302px;
  height: 42px;
  top: 398px;
  left: 1040px;
  position: sticky;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #c2c2c2;
}

.connect-section2 {
  width: 717px;
  height: 84px;
  top: 461px;
  left: 1008px;
  position: sticky;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

/* ------------ 3 ------------- */
.rectangle3 {
  position: absolute;
  width: 1920px;
  height: 297px;
  top: 601px;
  background-color: #5e3db3;
}

.number3 {
  width: 22px;
  height: 21px;
  top: 687px;
  left: 1009px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: left;
}

.rect-num3 {
  width: 22px;
  height: 5px;
  top: 712px;
  left: 1009px;
  color: #ffffff;
}

.head-section3 {
  width: 159px;
  height: 42px;
  top: 681px;
  left: 1040px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #c2c2c2;
}

.connect-section3 {
  width: 717px;
  height: 56px;
  top: 744px;
  left: 1008px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

/* ---------------------------------------------- */
/* ---------- basketbal ------------------- */

.content-basketball {
  width: 1920px;
  height: 998px;
  top: 898px;
  display: block;
  position: absolute;
}

.text-player {
  width: 375px;
  height: 105px;
  top: 124px;
  left: 321px;

  font-family: Roboto;
  font-size: 90px;
  font-weight: 400;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: left;
  color: #e7e7e7;
}
.num-bas1 {
  width: 22px;
  height: 21px;
  top: 302px;
  left: 322px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  /* font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 1.5px;
text-align: left; */
}
.rect-num-bas1 {
  width: 19px;
  height: 5px;
  top: 327px;
  left: 323px;
  background-color: #603ebe;
  border: 1px solid #979797;
}
.head-sec-bas1 {
  width: 239px;
  height: 42px;
  top: 297px;
  left: 354px;
}
.detail-bas1 {
  width: 571px;
  height: 56px;
  top: 360px;
  left: 322px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.section-bas2 {
  width: 1920px;
  height: 245px;
  top: 485px;
  background-color: #F5F4F9;
}
.num-bas2 {
  width: 22px;
  height: 21px;
  top: 542px;
  left: 322px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #000000;
}
.rect-num-bas2 {
  width: 22px;
  height: 5px;
  top: 567px;
  left: 323px;
  background-color: #603ebe;
}
.head-sec-bas2 {
  width: 302px;
  height: 42px;
  top: 537px;
  left: 354px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #c2c2c2;
}
.detail-bas2 {
  width: 717px;
  height: 28px;
  top: 600px;
  left: 322px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.section-bas3 {
  width: 1920px;
  height: 268px;
  top: 730px;
  background-color: #090c35;
}
.num-bas3 {
  width: 22px;
  height: 21px;
  top: 823px;
  left: 323px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #8f6be8;
}
.rect-num-bas3 {
  width: 22px;
  height: 5px;
  top: 848px;
  left: 324px;
  background-color: #ffffff;
}
.head-sec-bas3 {
  width: 159px;
  height: 42px;
  top: 817px;
  left: 355px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;

  color: #c2c2c2;
}
.detail-bas3 {
  width: 717px;
  height: 28px;
  top: 880px;
  left: 323px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
