html {
  min-width: 100%;
  height: auto;
}
.container {
  max-width: none;
  overflow-x: hidden;
}

.img-path {
  position: absolute;
  top: 15rem;
  left: 85vw;
  z-index: 1;
}

.img-path-lg {
  position: absolute;
  width: 262.52px;
  top: 48rem;
  left: 57vw;
  z-index: 10;
}

.img-plus1 {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 10;
  top: 12rem;
  left: 63vw;
}
.img-plus2 {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 10;
  top: 50rem;
  left: 90vw;
}

.img-plus3 {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 10;
  top: 14rem;
  opacity: 0.3;
  left: 65%;
  transform: translateX(-90%);
}

.img-football {
    position: absolute;
    z-index: 100;
    left: 5%;
    width: 678px;
    @media only screen and (max-width: 1200px) {
      left: -10%;
      max-width: 65%;
    }
}

 .img-basketball {
    z-index: 100;
    position: absolute;
  }




@media screen and (max-width: 767px) {
  .col-6.text-athlets {
    /* display: none; */
    left: 0 !important;
    font-size: 8rem;
  }
}

/* --------------------mobile-------------------- */

@media only screen and (max-width: 600px) {
  .content-footballer {
    min-width: max-content;
    /* height: 58rem; */
    position: relative;
  }
  .col-6.text-athlets {
    display: none;
  }

  .row {
    display: none;
  }

  .img-football {
    width: 200px;
    height: 281px;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-path.football {
    top: 10rem;
    left: 64%;
  }

  .img-path-lg.football {
    top: 19rem;
    left: 9rem;
  }

  .img-plus1.football {
    top: 11rem;
    left: 25%;
  }

  .img-plus3.football {
    top: 9rem;
    left: 22%;
  }

  .section-footballer {
    width: fit-content;
    word-wrap: break-word;
    min-height: 33rem;
  }

  .text-athlets-mb {
    top: 2rem;
    left: 1.1rem;
    position: absolute;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e7e7;
  }

  .container-carousel {
    margin: 0;
  }

  ol.carousel-indicators {
    margin: auto;
    bottom: 2rem;
    position: absolute;
  }

  .carousel-indicators .active {
    background-color: #603ebe;
    border: none;
    width: 9px;
    height: 9px;
    margin: auto 1px;
  }

  .carousel-indicators li {
    background-color: #c2c2c2;
  }

  .item {
    width: auto;
    background-color: #f5f4f9;
    min-height: 284px;
    position: relative;
    margin: 0;
  }
  .item-no {
    top: 5.5rem;
    left: 1rem;
    position: absolute;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: left;
  }

  .line-num {
    position: absolute;
    width: 19px;
    height: 4px;
    top: 8rem;
    left: 1rem;
    background: #603ebe;
    border-radius: 1em;
  }

  .head-item {
    position: absolute;
    top: 5rem;
    left: 4rem;

    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #c2c2c2;
  }

  .detail {
    height: 90px;
    left: 1rem;
    top: 11rem;
    position: absolute;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  /* ----------------------------basketball -------------------- */
  .content-basketball {
    min-width: max-content;
    position: relative;
    /* height: 534px; */
  }

  .section-basketball {
    height: 339px;
  }

  .img-basketball {
    width: 302px;
    height: 250px;
    top: 13rem;
    /* right: 10%; */
    left: 50%;
    transform: translateX(-50%);
  }

  .text-player {
    left: 1.1rem;
    position: absolute;
    font-family: "Roboto";
    font-size: 4.125rem;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e7e7;
  }

  .img-path {
    position: absolute;
    width: 76.69px;
    top: 16rem;
    left: 66%;
    transform: translateX(-50%);
  }

  .img-path-lg {
    width: 106.35px;
    top: 25rem;
    left: 25%;
  }

  .img-plus1 {
    width: 15px;
    top: 13rem;
    left: 28%;
  }
  .img-plus2 {
    width: 15px;
    top: 28rem;
    right: 5rem;
    left: 69%;
  }

  .img-plus3 {
    width: 15px;
    top: 11rem;
    left: 25%;
  }
}

/* -------------------- Tablet ------------------ */

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .basketboll.col-4 {
    left: 5rem;
  }
  .offset-2 {
    margin-left: 0;
  }

  .section-growth-bas.offset-2.col-4,
  .section-collab.offset-2.col-4 {
    position: absolute;
    left: 5rem;
  }

  .img-basketball {
    left: 38vw !important;
  }

  .img-path,
  .img-plus2 {
    display: none;
  }

  .img-path.football {
    display: block !important;
    top: 0rem;
    left: 5rem;
  }

  .img-plus1.football {
    display: block !important;
    top: -1rem;
    left: 18%;
  }

  .img-plus3.football {
    display: block !important;
    top: -3rem;
    left: 16%;
  }

  .img-plus1{
    left: 70vw;
  }
  .img-plus3{
    top: 15rem;
    left: 73vw;
  }
}

/* -------------------- Desktop ------------------ */
@media only screen and (min-width: 601px) {
  .container-carousel {
    display: none !important;
  }
  .text-athlets-mb,
  .img-path.football,
  .img-path-lg.football,
  .img-plus1.football,
  .img-plus3.football {
    display: none;
  }

  .content-footballer-xl,
  .content-basketball {
    position: relative;
  }
  .content-footballer-xl {
    margin-top: 10rem;
  }

  .section-footballer,
  .section-basketball {
    width: auto;
    height: auto;
  }


  .text-athlets {
    top: 24px;
    position: absolute;
    font-family: "Roboto";
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e7e7;
    @media screen and (max-width: 767px) {
      left: 50%;
    }
  }

  .row {
    height: auto;
  }

  .section-connection {
    position: relative;
    top: 1rem;
    min-height: 32rem;
  }

  .section-collab {
    background-color: #f5f4f9;
    min-height: 25rem;
    position: relative;
    width: -webkit-fill-available;
  }

  .section-growth {
    background-color: #603ebe;
    min-height: 25rem;
    position: relative;
    width: -webkit-fill-available;
  }

  .section-growth-bas {
    background-color: #090c35;
    min-height: 25rem;
    position: relative;
    width: -webkit-fill-available;
  }

  .item-no1 {
    width: 22px;
    height: 21px;
    top: 15rem;
    position: absolute;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }

  .line-num1 {
    position: absolute;
    width: 19px;
    height: 4px;
    top: 17.5rem;
    background: #603ebe;
    border-radius: 1em;
  }

  .head-item1 {
    width: 239px;
    height: 42px;
    top: 14.5rem;
    left: 40px;
    position: absolute;

    font-family: "Roboto";
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #c2c2c2;
  }

  .detail1 {
    top: 21rem;
    position: absolute;

    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  /* --------------------------box 2-3 --------------------------*/
  .item-no {
    top: 4rem;
    position: absolute;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }

  .line-num {
    position: absolute;
    width: 19px;
    height: 4px;
    top: 6.5rem;
    background: #603ebe;
    border-radius: 1em;
  }

  .head-item {
    top: 3.5rem;
    left: 40px;
    position: absolute;

    font-family: "Roboto";
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #c2c2c2;
  }

  .detail {
    top: 10rem;
    position: absolute;

    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  /* ----------------------- BASKETBAL -----------------------*/
  .text-player {
    width: 375px;
    height: 105px;
    top: 124px;
    /* left: 321px; */

    position: absolute;
    font-family: "Roboto";
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e7e7;
  }

  .img-basketball {
    top: 10rem;
    min-width: 691px;
    left: 50vw;
  }

  .bas {
    color: #8f6be8;
  }

  .basketboll {
    height: 44rem;
  }

  .item-no1-bas {
    top: 24rem;
  }

  .line-num1-bas {
    top: 26.5rem;
  }

  .head-item1-bas {
    top: 23.5rem;
  }

  .detail1-bas {
    top: 31rem;
  }
}
